<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="在线棋类游戏对战">
  <meta name="author" content="hichenming">
  <title>在线棋类游戏对战</title>
  <link href="{{config.ConfigStaticPath}}/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="{{config.ConfigStaticPath}}/css/main.css" rel="stylesheet" media="screen">
  <link rel="shortcut icon" href="{{config.ConfigStaticPath}}/img/favicon.png">
  
  {% block css-block %}   
<style type="text/css">
  #game-div ul {
    margin-left: 150px;
    margin-top: 50px;
  }
  #game-div ul li {
    text-decoration: none;
    font-size: 26px;
    list-style: none;
    margin-top: 15px;
  }

  #game-div ul li a{
    position: relative;
    left: 22px;
  }

  #game-div ul li img {
    width: 60px;
    height: 60px;
  }
</style>
   {% end %}

</head>
<body id="mainbody">
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand" >ChessPK.com</a>
                <div class="nav-collapse" id="nav-collapse">
                    <ul class="nav">
                    	<!-- <li><a href="gobang.hichenming.com">五子棋</a></li>
                      <li><a href="chess.hichenming.com">中国象棋</a></li>
                      <li><a href="reversi.hichenming.com">黑白棋</a></li> -->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
      </div>
  </div><!-- end  navbar-->


  {% block container-fluid %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8" id="game-div">
          <ul>
            <li><img class="img-polaroid" src="{{config.ConfigStaticPath}}/img/icons/gobang.png"><a href="http://gobang.hichenming.com">五子棋</a></li>
            <li><img class="img-polaroid" src="{{config.ConfigStaticPath}}/img/icons/chess.png"><a href="http://chess.hichenming.com">中国象棋</a></li>
            <li><img class="img-polaroid" src="{{config.ConfigStaticPath}}/img/icons/reversi.png"><a href="http://reversi.hichenming.com">黑白棋</a></li>
            <!-- <li><img class="img-polaroid" src="{{config.ConfigStaticPath}}/img/icons/cheng3.png"><a href="http://cheng3.hichenming.com">成三棋</a></li> -->
          </ul>
        </div>
        <div class="span4" id="gamestatus-div">
                <div id="status-div">
                    <h5>开始游戏步骤</h5>
                    <blockquote>
                        <span>一、选择游戏种类，找一个等待中的房间，或自己创建新房间</span>
                    </blockquote>
                    <blockquote>
                        <span>二、进入游戏房间，等待对方上线</span>
                    </blockquote>
                    <blockquote>
                        <span>三、将当前房间地址发给朋友，等他进入后即可开始游戏</span>
                    </blockquote>

                    <h5>说明</h5>
                    <blockquote>
                        <span>一、支持Chrome、Firefox、Safari，及绝大多数智能手机浏览器</span>
                    </blockquote>
                    <blockquote>
                        <span>二、暂不支持IE10以下版本的IE浏览器</span>
                    </blockquote>
                    <blockquote>
                        <span>三、游戏过程中不能关闭当前窗口，关闭即离线</span>
                    </blockquote>
                    <blockquote>
                        <span>四、无需注册，无需其它插件</span>
                    </blockquote>

                   
                  
                </div>
        </div>
      </div>
    </div>
  {% end %}


  <footer class="footer">
            <p>
                &copy; zaitian 2013
            </p>
  </footer>

  {% block javascript-block %}                      {% end %}

</body>
</html>